%strong{:class => "HomePage", :id => "message"} My Blog


%form{:action => "new_post", :method => "get"}
   %br
   %div{id: "new_blog"}
   %input{:type => "submit", :id => "new_post", :value => "New"}